/* Navbar */
.navBar {
  background-color: #161721;
  color: white;
  overflow: hidden;
  position: fixed;
  height: inherit;
}

.logo {
  width: 80px;
}

.selection {
  /* border: 1px solid red; */

  display: flex;
  align-items: start;
  padding: 20px;
  flex-direction: column;
}

.signUp {
  /* font-family: "Jaro", sans-serif; */
  font-family: "Rowdies", sans-serif;
}

.logoutBtn {
  margin-top: 100px;
}

.navBtn,
.logoutBtn {
  color: white;
  padding: 5px 15px 0 15px;
}

.navBtn:hover,
.logoutBtn:hover {
  background-color: white;
  border-radius: 5px;
  color: #161721;
  transition: 0.3s;
  cursor: pointer;
}

.navBtn.active,
.logoutBtn.active {
  background-color: white;
  border-radius: 5px;
  color: #161721;
}

.profile {
  width: 40px;
  border-radius: 50%;
}

.border-bottom {
  border-bottom: 2px solid rgb(0, 0, 0);
}

/* Navbar End */

/* Form */
.signUpInput {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid gray;
}

.signupbtn {
  width: 127px;
  font-size: large;
  height: 52px;
  color: white;
  background: linear-gradient(99.78deg, #9181f4 -5.85%, #5038ed 109.55%);
  border: none;
}

.signupbtn:hover {
  transition: 0.3s;
  background: linear-gradient(99.78deg, #93d1f8 -5.85%, #654ff7 109.55%);
  color: white;
  border: none;
}

/* End Form */
/* WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 5px;
  /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Thumb color */
  border-radius: 5px;
  /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Thumb color on hover */
}

.rightSideContent {
  overflow-y: auto;
  margin-left: auto;
}

.alert {
  position: fixed;
  right: 20px;
  bottom: 20px;
  transform: translateX(0);
  width: 30%;
}


.carImage {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.car-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  /* Make items clickable */
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.filter-bar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
}

.filter-bar label {
  margin-right: 10px;
  margin-bottom: 5px;
  /* Add margin bottom for better spacing */
}

.filter-bar select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
  margin-bottom: 5px;
  /* Add margin bottom for better spacing */
}

.filter-bar button {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  /* Add margin bottom for better spacing */
}


.filter-bar button:hover {
  background-color: #0056b3;
}

/* Modal styling */
.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Custom CSS */
.buy-btn {
  margin-right: 5px;
  /* Adjust the margin as needed */
}

.rent-btn {
  margin-left: 5px;
  /* Adjust the margin as needed */
}