<div class="container-fluid">
  <div class="row">
    <div class="col-8 p-0 backgroundright">
      <img class="signupimage" src="/assets/login.jpg" />
      <!-- Error Message -->
      <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
        <h4 class="alert-heading">Error!</h4>
        <hr />
        <p>
          {{ errorMessage }}
        </p>
      </div>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center">
      <div>
        <div class="input-group align-items-center justify-content-between mb-5">
          <img class="logo" src="/assets/logo.png" />
          <h1 class="signUp text-center">AutoGaurdian</h1>
        </div>
        <h1 class="signUp text-center mb-5">SIGN UP</h1>
        <form (ngSubmit)="signUp()">
          <div>
            <input
              type="text"
              class="signUpInput"
              name="firstname"
              [(ngModel)]="firstname"
              required
              placeholder="First Name"
            />
          </div>
          <div>
            <input
              type="text"
              class="signUpInput"
              name="middlename"
              [(ngModel)]="middlename"
              placeholder="Middle Initial (Optional)"
            />
          </div>
          <div>
            <input
              type="text"
              class="signUpInput"
              name="lastname"
              [(ngModel)]="lastname"
              placeholder="Last Name"
            />
          </div>
          <div>
            <input
              type="email"
              class="signUpInput"
              name="email"
              [(ngModel)]="email"
              placeholder="Email"
            />
          </div>
          <div>
            <input
              type="text"
              class="signUpInput"
              name="contact"
              [(ngModel)]="contact"
              placeholder="Contact"
            />
          </div>
          <div>
            <input
              type="password"
              class="signUpInput"
              name="password"
              [(ngModel)]="password"
              placeholder="Password"
            />
          </div>
          <div>
            <input
              type="password"
              class="signUpInput"
              name="confirm_password"
              [(ngModel)]="confirm_password"
              placeholder="Confirm Password"
            />
          </div>
          <div >
            <button type="submit" class="signupbtn">Sign Up</button>
            <p class="text1">
              Already have an account?
              <i class="text-primary" routerLink="/signIn">Sign In</i>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
