<div class="container-fluid">
  <div class="row">
    <div class="col-8 p-0 backgroundright">
      <img class="signupimage" src="/assets/signIn.jpg" />
     
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center">
      <div>
        <div
          class="input-group align-items-center justify-content-between mb-5"
        >
          <img class="logo" src="/assets/logo.png" />
          <h1 class="signUp text-center">AutoGaurdian</h1>
        </div>
        <h1 class="signUp text-center mb-5">SIGN IN</h1>
        <h5 class="text-center mb-5">Welcome back!</h5>
        <form (ngSubmit)="signIn()">
          <div>
            <input
              type="email"
              class="signUpInput"
              name="email"
              [(ngModel)]="email"
              placeholder="Email"
            />
          </div>
          <div>
            <input
              type="password"
              class="signUpInput"
              name="password"
              [(ngModel)]="password"
              placeholder="Password"
            />
          </div>
          <div>
            <button type="submit" class="signupbtn">Sign In</button>
            <p class="text1">
              Don't have an account?
              <i class="text-primary" routerLink="/signUp">Sign Up</i>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
