.backgroundright {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0px;
    top: 0px;
    background: linear-gradient(217.64deg, #9181f4 -5.84%, #97e7e1 106.73%);
  }
  .logintitle {
    position: absolute;
    width: 200px;
    height: 21px;
    left: 21%;
    top: 162px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-transform: uppercase;
    color: #000000;
  }
  .inputuser {
    position: absolute;
    width: 364px;
    height: 52px;
    left: 159px;
    top: 228px;
  }
  
  .userimg {
    position: absolute;
    left: 35%;
    top: 65px;
  }
  .form-control {
    padding-left: 40px;
    position: relative;
    width: 364px;
    height: 52px;
    background: rgba(240, 237, 255, 0.8);
    border-radius: 16px;
    margin-bottom: 20px;
    top: 270px;
    left: 260px;
  }
  
  .inputpass {
    position: absolute;
    width: 364px;
    height: 52px;
    left: 159px;
    top: 310px;
  }
  
  .passimg {
    position: absolute;
    left: 35%;
    top: 65px;
  }
  
  .passwordinput {
    padding-left: 40px;
    /* Rectangle 6 */
  
    position: absolute;
    width: 364px;
    height: 52px;
    left: 110px;
    top: 50px;
  
    background: rgba(240, 237, 255, 0.8);
    border-radius: 16px;
  }
  .loginimage {
    box-sizing: border-box;
    position: absolute;
    width: 550px;
    height: 700px;
    left: 61%;
    top: 13%;
    border: 1px solid rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(6.8px);
    border-radius: 46px;
  }
  .loginbtn {
    position: absolute;
    width: 124px;
    height: 52px;
    left: 290px;
    top: 450px;
    background: linear-gradient(99.78deg, #9181f4 -5.85%, #5038ed 109.55%);
    box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
  }
  .logintitle {
    font-weight: bold;
  }
  .signupbtn {
    position: absolute;
    width: 124px;
    height: 52px;
    left: 490px;
    top: 450px;
    background: linear-gradient(99.78deg, #9181f4 -5.85%, #5038ed 109.55%);
    box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
  }
  .alert {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transform: translateX(0);
    width: 30%;
  }
  @media (max-width: 1500px) {
    /* Adjust positioning, widths, etc. of elements for desktop viewports */
    .loginimage {
      width: 450px; /* Example change */
    }
    .loginbtn {
      width: 100px;
      transition: all 0.5s ease-in-out;
      left: 10%;
    }
    .signupbtn {
      width: 100px;
      transition: all 0.5s ease-in-out;
      left: 30%;
    }
    .form-control {
      width: 100px;
      transition: all 0.5s ease-in-out;
      left: 20%;
    }
  }
  