.navBar {
  background-color: #161721;
  color: white;

}
.logo{
  width: 80px;
 }
 .totalUsers{
width: 120px;
 }
 .totalCars{
width: 140px;
 }
 .selection {
   /* border: 1px solid red; */
   display: flex;
   align-items: start;
   padding: 20px;
   flex-direction: column;
 }
 .box-shadow{
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.3);
 }
 .signUp {
  /* font-family: "Jaro", sans-serif; */
  font-family: "Rowdies", sans-serif;
}
.logoutBtn{
  margin-top: 100px;
}
.navBtn, .logoutBtn {
  color: white;
  padding: 5px 15px 0 15px;

}
.navBtn:hover, .logoutBtn:hover {
  background-color: white;
  border-radius: 5px;
  color: #161721;
  transition: 0.3s;
  cursor: pointer;
}
.navBtn.active , .logoutBtn.active{
  background-color: white;
  border-radius: 5px;
  color: #161721;
}
.border-bottom{
  border-bottom: 2px solid rgb(0, 0, 0);
}
.profile{
  width: 40px;
  border-radius: 50%;
}
.newCar{
  height: 170px;
  width: 280px;
  background: linear-gradient(190deg, #34dacf, #3d2da2);
}
.users{
  height: 170px;
  width: 280px;
  background: linear-gradient(190deg, #ff9c23, #992b36 );
}
.allUsers{
  height: 170px;
  width: 280px;

  background: linear-gradient(190deg, #ff2323, #1d1b1b );
}
.allCars{
  height: 170px;
  width: 280px;

  background: linear-gradient(190deg, #1bd431, #1d1b1b );
}

h1.bi-people-fill {
  font-size: 100px;
}
.newRent{
  height: 170px;
  width: 280px;
  background: linear-gradient(190deg, #9cff23, #389428 );
}
.underMaintenance{
  height: 170px;
  width: 280px;
  background: linear-gradient(190deg, #ff23f4, #772894 );
}
.scale{
  width: 180px;
  height: 120px;
  color: white;
}
.rentIcon{
  width: 45px;
}
.bi-car-front, .bi-people, .bi-journal-arrow-up, .bi-journal-arrow-down{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px ;
  height: 40px ;
}
.rightSideContent{
  overflow-y: auto;
  height: 729px;
}