<body>
    <nav>
        <img src="assets/logo1.jpg" class="logo" alt="Dynamic Image">
    <div class="title">Car Management System</div>
    <div class="greeting">Hello Admin!</div>
    </nav>
    <img src="assets/profilepic.png" class="profile" alt="profilepicture">
    <div class="background"></div>
    <section>
        <ul>
            <li><button>Vehicle Management</button></li>
            <li><button>Costumer Management</button></li>
            <li><button>Sales/Rental Management</button></li>
            <li><button>Maintenance Scheduling</button></li> 
            <li><button>Reporting</button></li>     
            <li><button (click)="logout()">Logout</button></li>     
        </ul>
    </section>
    </body>